.Buttons {
  background-color: #007bff !important;
  border-radius: 44px;
  padding: 0 15px;
  line-height: 30px;
}

.Search {
  background-color: #007bff !important;
  border-radius: 44px;
  padding: 0 15px;
}
